.timer {
    opacity: 0.3;
    position: absolute;
    right: 20px;
    top: 488px;
    text-align: center;
}

.timer .desc {
    font-size: 20pt;
}

.timer .time {
    font-size: 120pt;
}

.timer p {
    margin: 0;
    line-height: 1;
}
