<div class="match" data-bind="visible: isVisible">

    <br/>
    <br/>
    <br/>

    <div class="teams">
        <!-- ko if: teamA() >= 0 -->
        <team params="value: teams[teamA()]"></team>
        <!-- /ko -->
        <p>VS</p>
        <!-- ko if: teamB() >= 0 -->
        <team params="value: teams[teamB()]"></team>
        <!-- /ko -->
    </div>

    <h2>Право первого удара: </h2>
    <a href="#" class="push_button blue small" data-bind="visible: isBallotVisible, click: ballot">(Кинуть жребий)</a>
    <!-- ko if: firstTeam() >= 0 -->
    <team params="value: teams[firstTeam()]"></team>
    <!-- /ko -->

    <br/>
    <br/>
    <br/>

    <a href="#" class="button" data-bind="visible: isBeginVisible, click: beginGame">
        <span>Начать игру</span>
    </a>

</div>