.top{
    /*padding: 3px;*/
    border-top: 1px solid #afd458;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0;
    bottom: 0;
    padding-top: 10px;
}

.top ul { padding: 0; margin: 0}