<div class="lang" data-bind="visible: isVisible">
    <div class="container">
        <div class="switch">
            <input type="radio" class="switch-input" name="view" value="en" id="en" checked >
            <label for="en" class="switch-label switch-label-off" data-bind="event: { mousedown: en }">EN</label>
            <input type="radio" class="switch-input" name="view" value="ru" id="ru" >
            <label for="ru" class="switch-label switch-label-on" data-bind="event: { mousedown: ru }">RU</label>
            <span class="switch-selection"></span>
        </div>
    </div>
</div>