<div class="instruction" data-bind="visible: isVisible">
    <h1 data-bind="text: title">Инструкция</h1>
    <p data-bind="text: rules1">1. Для удара по мячу необходимо зажать левую кнопку мыши на мяче и потянуть в направлении удара, а затем отпустить.</p>
    <p data-bind="text: rules2">2. Для выбора направления прыжка вратаря необходимо зажать левую кнопку мыши на голове вратаря и потянуть в направлении прыжка, а затем отпустить.</p>
    <img alt="" src=""/>

    <br/>
    <br/>
    <a id="rulelink" target="_blank" data-bind="text: rulePenalty" href="//ru.wikipedia.org/wiki/%D0%9F%D0%BE%D1%81%D0%BB%D0%B5%D0%BC%D0%B0%D1%82%D1%87%D0%B5%D0%B2%D1%8B%D0%B5_%D0%BF%D0%B5%D0%BD%D0%B0%D0%BB%D1%8C%D1%82%D0%B8"></a>
    <br/>
    <br/>

    <a href="#" class="button" data-bind="click: back">
        <span data-bind="text: prev"></span>
    </a>
</div>