<div class="info" data-bind="visible: isVisible">
    <div class="back"></div>
    <div>
        <!-- ko if: player -->
        <img alt="" src="" data-bind="attr: { src: player().img }">
        <p class="name" data-bind="text: player().name"></p>
        <p>Очки: <span data-bind="text: player().score"></span></p>
        <p>Забитых мячей: <span data-bind="text: player().goals"></span></p>
        <p>Мастерство: <span data-bind="text: player().exp"></span></p>
        <!-- /ko -->
    </div>
</div>